.mtableWrapper {
  width: 100%;
}

.mtable {
  width: 100%;
  table-layout: fixed;
  height: auto;
}

.mtable,
.mtable th,
.mtable td {
  border: none;
  font-size: 14px;
}

.mtable th,
.mtable td {
  padding: 16px;
  text-align: center;
  position: relative;
}

.mtable th + th {
  border-left: 1px solid var(--secondary-color);
}

.mtable td + td {
  border-left: 1px solid var(--secondary-color);
}

.mtable th:first-child {
  border-radius: 4px 0 0 0;
}

.mtable th:last-child {
  border-radius: 0 4px 0 0;
}

.mtable tbody td:last-child {
  border-bottom-right-radius: 4px;
}

.mtable tbody td:first-child {
  border-bottom-left-radius: 4px;
}

.mtable th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mtable td {
  background-color: var(--quaternary-color);
  vertical-align: middle;
}

.mheaderRow th:first-child {
  width: 400px;
}

.mheaderRow th:last-child {
  width: 100px;
  text-align: center;
}

.mheaderRow th:nth-child(3) {
  width: 350px;
}

.mheaderRow th:nth-child(3) {
  width: 150px;
}

.mheaderRow th:nth-child(2) {
  width: 180px;
}

.mrow {
  position: relative;
}

.mtableDeleteBtn {
  width: 32px;
}

@media only screen and (max-width: 1079px) {
  .mtableWrapper {
    overflow-x: auto;
  }
}

td.hasInput {
  padding: 0;
}

.mtable input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--primary-color);
  padding: 16px;
}

.mtable input::placeholder {
  color: var(--primary-color);
  opacity: 0.6;
}

.mtableDeleteBtn {
  display: inline-flex;
}

/* .dropdown {
    width: 100%;
    position: absolute;
    top: 100%;

} */
