table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Ubuntu", sans-serif;
  --primary-color: #0a132b;
  --secondary-color: #f4f4f4;
  --tertiary-color: #c4c4c4;
  --quaternary-color: #eef0f5;
  --danger-color: #e93b34;
  --p: 0;
  --pt: 0;
  --pr: 0;
  --pb: 0;
  --pl: 0;
  --px: 0;
  --py: 0;
  --m: 0;
  --mt: 0;
  --mr: 0;
  --mb: 0;
  --ml: 0;
  --mx: 0;
  --my: 0;
}

.navbar {
  background-color: var(--primary-color) !important;
  height: 64px;
}

[style*="--p:"] {
  padding: calc(4px * var(--p)) !important;
}

[style*="--pt:"] {
  padding-top: calc(4px * var(--pt)) !important;
}

[style*="--pr:"] {
  padding-right: calc(4px * var(--pr)) !important;
}

[style*="--pb:"] {
  padding-bottom: calc(4px * var(--pb)) !important;
}

[style*="--pl:"] {
  padding-left: calc(4px * var(--pl)) !important;
}

[style*="--px:"] {
  padding-right: calc(4px * var(--px)) !important;
  padding-left: calc(4px * var(--px)) !important;
}

[style*="--py:"] {
  padding-top: calc(4px * var(--py)) !important;
  padding-bottom: calc(4px * var(--py)) !important;
}

[style*="--m:"] {
  margin: calc(4px * var(--m)) !important;
}

[style*="--mt:"] {
  margin-top: calc(4px * var(--mt)) !important;
}

[style*="--mr:"] {
  margin-right: calc(4px * var(--mr)) !important;
}

[style*="--mb:"] {
  margin-bottom: calc(4px * var(--mb)) !important;
}

[style*="--ml:"] {
  margin-left: calc(4px * var(--ml)) !important;
}

[style*="--mx:"] {
  margin-right: calc(4px * var(--mx)) !important;
  margin-left: calc(4px * var(--mx)) !important;
}

[style*="--my:"] {
  margin-top: calc(4px * var(--my)) !important;
  margin-bottom: calc(4px * var(--my)) !important;
}

.text--xs {
  font-size: 12px;
}

.text--sm {
  font-size: 14px;
}

.text--default {
  font-size: 16px;
}

.text--md {
  font-size: 20px;
}

.text--lg {
  font-size: 24px;
}

.fw-700 {
  font-weight: 700;
}

.text--primary {
  color: var(--primary-color);
}

.text--secondary {
  color: var(--secondary-color);
}

.text--tertiary {
  color: var(--tertiary-color);
}

.text--quaternary {
  color: var(--quaternary-color);
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.footer {
  position: sticky;
  z-index: 100;
  bottom: 0;
  width: 100%;
  padding: 16px 0;
  background-color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.link-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.table {
  --bs-table-hover-bg: var(--quaternary-color) !important;
}

.table-primary {
  --bs-table-color: var(--secondary-color);
  --bs-table-bg: var(--primary-color);
  --bs-table-border-color: #a6b5cc;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.auth-card-container {
  width: 100%;
  max-width: 480px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    border-bottom-left-radius: 1rem; /* Rounded bottom-left corner */
    border-bottom-right-radius: 1rem; /* Rounded bottom-right corner */
    padding: 0.5rem; /* Padding of Bootstrap 2 */
  }
}
